<%- include('./_function'); -%>
<%
const _default = meta[ 'default' ];
for ( let key in _default ) {
    if ( typeof page[ key ] === 'undefined' ) {
        page[ key ] = _default[ key ];
    }
}
page[ 'sitename' ] = page[ 'sitename' ] ? '| ' + page[ 'sitename' ] : '';
const siteTitle = page[ 'title' ] + page[ 'sitename' ];
const pageUrl = getUrl( page[ 'pageUrl' ] );
const ogpImage = getAssetUrl( page[ 'ogpImage' ] );
-%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= siteTitle %></title>
    <% if(page[ 'description' ]) { -%>
        <meta name="description" content="<%= page[ 'description' ] %>"/>
    <% } -%>
    <% if(pageUrl) { -%>
        <link rel="canonical" href="<%= pageUrl %>">
    <% } -%>
    <% if(pageUrl) { -%>
        <meta property="og:url" content="<%= pageUrl %>">
    <% } %>
    <meta property="og:title" content="<%= siteTitle %>">
    <meta property="og:description" content="<%= page[ 'description' ] %>">
    <% if(ogpImage) { -%>
        <meta property="og:image" content="<%= ogpImage %>">
    <% } -%>
    <link rel="stylesheet" href="<%= getScriptsUrl( 'css/style.css' ) %>">
    <script defer src="<%= getScriptsUrl( 'js/app.js' ) %>"></script>
</head>
